@import '../styles.scss';

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  flex-direction: row;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & > * {
    overflow-y: auto;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }
}