.dashboard-container {
  max-width: 1000px;
  height: initial;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.dashboard-contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.widgets {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 1rem;
    // margin-top: 1rem;
}

app-execution-trend, app-suite-distribution {
    width: 50%;
    height: 400px;
}

