version: '3.8'
services:
  backend:
    build:
      context: ..
      dockerfile: apps/backend/Dockerfile
    container_name: testastack-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  frontend:
    build:
      context: ..
      dockerfile: apps/frontend/Dockerfile
    container_name: testastack-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
